{% extends 'base.html.twig' %}

{% block body %}
    <h1>Список сотрудников</h1>

    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Тип</th>
            <th scope="col">Название</th>
            <th scope="col">Вес</th>
            <th scope="col">Грузчик</th>
            <th scope="row"></th>
        </tr>
        </thead>

        <tbody>
            {% for good in goods %}
                <tr>
                    <th scope="row"><a href="{{ path('good_show', { 'id': good.id }) }}">{{ good.id }}</a></th>
                    <td>{{ good.type }}</td>
                    <td>{{ good.name }}</td>
                    <td>{{ good.weight }}</td>
                    <td>{{ good.loader }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('good_show', { 'id': good.id }) }}">Показать</a>
                            </li>
                            <li>
                                <a href="{{ path('good_edit', { 'id': good.id }) }}">Обновить</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('good_new') }}">Создать новый товар</a>
{% endblock %}
